.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  color: #000;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.register-top-grid span, .register-bottom-grid span {
	  font-size: 1em;
  display: block;
  color: #A09F9F;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background: none;
	outline:none;
	border: 1px solid #A09F9F;
	-webkit-appearance: none;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.2em;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.1em;
}
.account-top,.left-account,.register-top-grid,.register-bottom-grid {
  padding: 0;
}



/*--//single--*/
.register {
	padding: 4em 0 ;
}
/*--register--*/
.register h1{
	font-size: 3em;
  font-family: 'Lato', sans-serif;
  color: #000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
}
.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  color: #000;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.register-top-grid span, .register-bottom-grid span {
	  font-size: 1em;
  display: block;
  color: #A09F9F;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background: none;
	outline:none;
	border: 1px solid #A09F9F;
	-webkit-appearance: none;
}

.register-bottom-grid input[type="submit"] {
	background: #EF5F21;
	padding: 0.4em 1em;
	color: #fff;
	font-size:1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
}
.register-bottom-grid input[type="submit"]:hover{
	background:#000;
	
}
/*--//register--*/

.register {
  padding: 2em 0;
}

.account h1 ,.register h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.2em;
}

.account-top input[type="text"], .account-top textarea, .account-top input[type="password"]
,.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
  padding: 0.5em;
}

.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.1em;
}
.account-top input[type="submit"],.register-bottom-grid input[type="submit"] {
  font-size: 1em;
}
.account-top,.left-account,.register-top-grid,.register-bottom-grid {
  padding: 0;
}

.news-letter {
	color: #EF5F21;
	font-size: 1em;
	margin-bottom: 1em;
	display:inline-block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight:400;
}
.news-letter:hover {
	color:#000;
}

.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	line-height: 27px;
	cursor: pointer;
	float: left;
	position: relative;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #EF5F21;
}
.checkbox input + i:after {
	content: '';
	background: url("..~/img/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}

.register-bottom-grid input[type="submit"] {
	background: #EF5F21;
	padding: 0.4em 1em;
	color: #fff;
	font-size:1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
}
.register-bottom-grid input[type="submit"]:hover{
	background:#000;
	
}
.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  color: #000;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.register-top-grid span, .register-bottom-grid span {
	  font-size: 1em;
  display: block;
  color: #A09F9F;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background: none;
	outline:none;
	border: 1px solid #A09F9F;
	-webkit-appearance: none;
}
.register-bottom-grid input[type="submit"] {
	background: #EF5F21;
	padding: 0.4em 1em;
	color: #fff;
	font-size:1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
}
.register-bottom-grid input[type="submit"]:hover{
	background:#000;
	
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.2em;
}
.account-top input[type="text"], .account-top textarea, .account-top input[type="password"]
,.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
  padding: 0.5em;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.1em;
}

.account-top input[type="submit"],.register-bottom-grid input[type="submit"] {
  font-size: 1em;
}
.account-top,.left-account,.register-top-grid,.register-bottom-grid {
  padding: 0;
}