@using WebBanBanh.Models;
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <link rel="stylesheet" href="~/sourceAdmin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/uniform.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/select2.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/matrix-style.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/matrix-media.css" />
    <link href="~/sourceAdmin/fontawesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/sourceAdmin/css/fontgg.css" rel="stylesheet" />
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="Admin/IndexProfile"><i class="icon-user"></i> My Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="Admin/postLogDangNhap"><i class="icon-key"></i> Log Out</a></li>
                </ul>

            </li>
            <li><a href="Admin/postLogDangNhap"><i class="icon-key"></i> Log Out</a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="Admin/Index"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li> <a href="Admin/IndexChart"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
            <li class=" submenu">
                <a href="#"><i class="icon icon-th"></i> <span>Tables</span></a>
                <ul>
                    <li><a href="Product/Index">Product Table</a></li>
                    <li><a href="KhachHang/Index">User Customer Table</a></li>
                    <li><a href="DonDatHang/Index">Order  Table</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-fullscreen"></i>FORM</a>
                <ul>
                    <li><a href="EditAbout/Index">EDIT FORM ABOUT</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-th-list"></i></a>
                <ul>
                    <li><a href="admin/home/dashboard"></a></li>
                </ul>
            </li>
            <li><a href="admin/home/dashboard"><i class="icon icon-tint"></i></a></li>
            <li><a href="admin/home/dashboard"><i class="icon icon-pencil"></i> <span></span></a></li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-file"></i> </a>
                <ul>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-info-sign"></i> </a>
                <ul>
                    <li><a href="admin/home/dashboard">Error 403</a></li>
                    <li><a href="admin/home/dashboard">Error 404</a></li>
                    <li><a href="admin/home/dashboard">Error 405</a></li>
                    <li><a href="admin/home/dashboard">Error 500</a></li>
                </ul>
            </li>
            <li class="content">
                <span>Monthly Bandwidth Transfer</span>
                <div class="progress progress-mini progress-danger active progress-striped">
                    <div style="width: 77%;" class="bar"></div>
                </div>
                <span class="percent">77%</span>
                <div class="stat">21419.94 / 14000 MB</div>
            </li>
            <li class="content">
                <span>Disk Space Usage</span>
                <div class="progress progress-mini active progress-striped">
                    <div style="width: 87%;" class="bar"></div>
                </div>
                <span class="percent">87%</span>
                <div class="stat">604.44 / 4000 MB</div>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="Admin/Index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="Admin/Index">Tables</a><a href="Product/Index" class="current">Product Table</a> </div>
            <h1>TABLE TYPE PRODUCT</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>EDIT TYPE PRODUCT</h5>
                        </div>
                        <div class="widget-content nopadding">
                            @using (Html.BeginForm("EditLoaiSP", "Product", new { id = Model.MALOAISP }))
                            {
                                <div class="control-group">
                                    <label class="control-label">Tên Loại Sản Phẩm :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" value='@Model.TENLOAI' name="tenloai" placeholder="" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">ICON :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" value='@Model.ICON' name="icon" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="~/sourceAdmin/js/jquery.min.js"></script>
    <script src="~/sourceAdmin/js/jquery.ui.custom.js"></script>
    <script src="~/sourceAdmin/js/bootstrap.min.js"></script>
    <script src="~/sourceAdmin/js/jquery.uniform.js"></script>
    <script src="~/sourceAdmin/js/select2.min.js"></script>
    <script src="~/sourceAdmin/js/jquery.dataTables.min.js"></script>
    <script src="~/sourceAdmin/js/matrix.js"></script>
    <script src="~/sourceAdmin/js/matrix.tables.js"></script>
</body>
</html>
